# hello-kubernetes.custom-message.yaml
apiVersion: v1
kind: Service
metadata:
  name: hello-world-2
  #namespace: helloworld-app
  annotations:
    prometheus.io/probe: "true"
    konghq.com/plugins: example-plugin
  labels:
    app: hello-world-2
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: hello-world-2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-2
  #namespace: helloworld-app
  labels:
    app: hello-world-2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world-2
  template:
    metadata:
      labels:
        app: hello-world-2
    spec:
      containers:
      - name: service-a
        image: wjayesh/reactor-svca:latest
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "10m"
            memory: "30Mi"
          requests:
            cpu: "10m"
            memory: "30Mi"
